.git
.gitignore
.github

/vendor
/node_modules
**/node_modules

storage/logs
storage/framework/sessions
storage/framework/cache
storage/framework/views
public/storage

*.log
*.env
.env.*
.DS_Store
Thumbs.db

*.zip
*.rar
*.7z
*.psd
*.ai
*.mp4
*.mov
*.iso
